* {
    margin: 0;
    padding: 0;
}

html,
body {
    align-items: center;
    background: paleturquoise;
    color: #222;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    height: 100%;
}

h1 {
    color: darkslateblue;
    font-size: clamp(2rem, 5vw, 3rem);
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

a {
    color: darkslateblue;
}

.birb-top {
    background-image: url('./images//birb.gif');
    background-position: center;
    display: none;
    height: 100px;
    width: 100vw;
    position: absolute;
    top: 0;
}

.birb-bottom {
    background-image: url('./images//birb.gif');
    background-position: center;
    display: none;
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.credit {
    color: darkslategray;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-bottom: 5em;
    text-transform: uppercase;
}

#activityMessage {
    font-size: clamp(1rem, 5vw, 2rem);
    height: 150px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    max-width: 500px;
}

.activityGlam {
    color: darkslateblue;
    /* background: -webkit-linear-gradient(45deg, violet, darkslateblue 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: darkslateblue; */
}

#randomActivityBtn {
    background: palegreen;
    border-radius: 8px;
    border: 2px solid darkslateblue;
    color: darkslateblue;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3em;
    padding: 1em;
}
